{{ $s := newScratch }}
{{ $s.Set "index" (add .index 1) }}
{{ $s.Set "ingredients" slice }}

<!-- Get the current language and make it uppercase -->
{{ $lang := upper $.ctx.Site.Language }}

<!-- Get the ingredients file of a specific language /data/ingredients<LANGUAGE CODE>.yaml. If not exist, use the default /data/ingredients.yaml file-->
{{ $ingredients := index $.ctx.Site.Data.ingredients.cs }} <!-- instead of hardocoded "cs", I need variable language code, depend on .Page language, please see a new ingredients.yaml structure -->

{{ range .product.ingredients }}
    {{ $ingredient := where $ingredients "id" . }}
    {{ $s.Add "ingredients" $ingredient }}
{{ end }}

<div class="order-number">NUMBER of order<b>{{ $s.Get "index" }}</b></div>
<h2>{{ .product.name }}</h2>
<p>{{ .product.price }} USD</p>
<p>Product Contains:
    <ul>
        {{- range $s.Get "ingredients" -}}
        {{ $ingredients_new := index (where (index $.product "ingredients-new") "item" .id) 0 }}
        <li><b>{{ .name }}{{ with $ingredients_new.pcs }}({{ . }} pieces){{end}}</b> <!-- here something like: number of pieces -->: {{ .description }}</li>
        {{- end -}}
    </ul>
</p>
<p><a href="{{ .product.url }}">Detail Here</a></p>
