{{ $s := newScratch }}
{{ $s.Set "index" (add .index 1) }}
{{ $s.Set "ingredients" slice }}

<!-- Get the current language and make it uppercase -->
{{ $lang := $.ctx.Site.Language.Lang }}

<!-- Get the ingredients file of a specific language /data/ingredients<LANGUAGE CODE>.yaml. If not exist, use the default /data/ingredients.yaml file-->
{{ $ingredients := index $.ctx.Site.Data.ingredients $lang }} <!-- instead of hardocoded "cs", I need variable language code, depend on .Page language, please see a new ingredients.yaml structure -->

{{ range (index .product "ingredients-new") }}
    {{ $ingredient := index (where $ingredients "id" .item) 0 }}
    {{ $s.Add "ingredients" (dict "from_product" . "from_ingredients" $ingredient) }}
{{ end }}

<div class="order-number">NUMBER of order<b>{{ $s.Get "index" }}</b></div>
<h2>{{ .product.name }}</h2>
<p>{{ .product.price }} USD</p>
<p>Product Contains:
    <ul>
        {{- range sort ($s.Get "ingredients") "from_product.pcs" -}}
        <li><b>{{ .from_ingredients.name }}{{ with .from_product.pcs }}({{ . }} pieces){{end}}</b> <!-- here something like: number of pieces -->: {{ .from_ingredients.description }}</li>
        {{- end -}}
    </ul>
</p>
<p><a href="{{ .product.url }}">Detail Here</a></p>
