{{ $s := newScratch }}
{{ $s.Set "index" (add .index 1) }}
{{ $s.Set "ingredients" slice }}

<!-- Get the current language and make it uppercase -->
{{ $lang := upper $.ctx.Site.Language }}

<!-- Get the default ingredients file -->
{{ $ingredients := $.ctx.Site.Data.ingredients }}
<!-- If its not default language, get the ingredients file by language -->
{{ if ne $lang "CS" }}
{{ $ingredients = index $.ctx.Site.Data (print "ingredients" $lang) }}
{{ end }}

{{ range .product.ingredients }}
    {{ $ingredient := where $ingredients "id" . }}
    {{ $s.Add "ingredients" $ingredient }}
{{ end }}

<div class="order-number">NUMBER of order <b>{{ $s.Get "index" }}</b></div>
<h2>{{ .product.name }}</h2>
<p>{{ .product.price }} USD</p>
<p>Product Contains:
    <ul>
        {{- range $s.Get "ingredients" -}}
        <li><b>{{ .name }}</b>: {{ .description }}</li>
        {{- end -}}
    </ul>
</p>
<p><a href="{{ .product.url }}">Detail Here</a></p>
