<div class="container" style="margin-top: 150px">
    <h2>Image processing</h2>
    <div>
        {{ $url1 := "images/"}}
        {{ $url2 := index (last 1 (split (delimit (split .RelPermalink "/") "," "") ",")) 0 }}
        {{ $url3 := "name.jpg"}}
        {{ $url := delimit (slice $url1 $url2 $url3) "" }}

        {{ $url }}
        {{ $img := resources.Get $url }}
        {{ $img := $img.Resize "350x" }}
        {{ $secImg := $img | resources.Fingerprint "sha512"}}
        <img src="{{ $secImg.Permalink }}">
    </div>
</div>

<h1>{{ .Title }}</h1>
{{ .Content }}

<h2>Sections</h2>
Start with click here!
{{ range .Sections }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}

<h2>Single Pages</h2>
{{ range .Pages }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
